* {
    margin: 0;
    padding:0;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col {
    width: 50%;
    padding: 5%;
}
.all-dojos {
border: 2px solid #121212;
padding:2%;
}

.new-dojo-card {
    padding: 5%;
    background: #e2e2e2;
}